*.dat
*.hld
*.raw
*.out
*.log
*.tmp
*.aux
*.toc
*.gz
*.zip
*.tar
*.7z
*.rar
*.exe
*.dll
*.h5
*.mat
*.fig
*.png
*.jpg
*.jpeg
*.bmp
*.tiff
*.pdf
*.mp4
*.avi
*.mov
*.mkv
*.mp3
*.wav
*.flac
*.obj
*.so
*.obj
*.class
*.jar
*.swp
*.pyc
*.pyi
/venv/
/JUNK/